<html>
    <head>
        <title>Simple Test Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Simple Test Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Streaming in spark allows you to think of operations on datasets that grow over time and spark has the infrastructure to handle processing more optimally. When it comes to spark streaming, it is just like static data processing. Developers don’t have to think about it. </p>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Diffbot uses computer vision and semantic search + NLP to access data on web pages. Uses a fork of webkit and strip away all the humanized components and make it purely computerized webpage. Diffbot creates structured data from the web including dark web and makes it accessible to companies and business through their crawler and search API  </p>
        </div>
    </body>
</html>